<div class="page-header">
  <h1>Projects</h1>
</div>

<% if @projects.empty? == false %>
<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= link_to raw('<i class="icon-trash"></i>trash'), project, method: :delete, :class => 'btn btn-small' %></td>
      </tr>
    <% end %>
</tbody>
</table>
<% else %>
  <div class="alert alert-info">
    <p>
      You are not managing any projects.
      <%= link_to 'Create one!', new_project_path %>
    </p>
  </div>
<% end %>

<%= link_to raw('<i class="icon-plus icon-white"></i>&nbsp;Project'), new_project_path, :class => 'btn btn-success'%> 
